<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CalculatorTests" parallel="tests">
  <test name="TestAdd">
  <classes><class name="vamshee.calculator.tests.TestAdd"></class></classes>
  </test> <!-- Test -->
  <test name="TestAddOneMethod">
  <classes><class name="vamshee.calculator.tests.TestAdd"><methods><include name="testAddOnePositiveOneNegative"></include></methods></class></classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
